body {
    /* Altera a fonte de todo os body */
    font-family: Raleway;
    /* Retira a margen padrão do body */
    margin: 0;
    background-color: black;
    /* cor da fonte branca */
    color: white;
}

header {

    /* colocando a imagem no fundo do header e junto colocando um gradiente em cima dessa imagem */
    background: linear-gradient(180deg, rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(Imagens/header_background.png);
    background-size: cover;
    background-repeat: no-repeat;

    padding: 20px;
    margin-bottom: 0;
    padding-bottom: 60px;

    /* Imagem principal do header - CSS DEVELOPER */
    img {
        /* Criei o círculo atrás da img */
        background-color: rgb(0, 0, 0, 0.2);
        border-radius: 50%;
        padding-top: 13.797px;
        padding-bottom: 13.797px;

        /* Centralizei a imagem no centro da tela */
        display: block;
        margin: auto;
    }

    /* Todos os textos do header centralizados na tela */
    p {
        text-align: center;
        width: 600px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
}

/* Título do header - TRILHA DE CSS DA DIO */
#title_header {

    /* Configurando a fonte */
    font-size: 40px;
    font-weight: 900;

    /* Criando a cor em degrade */
    background-image: linear-gradient(to bottom, #33a8db, #1472b7);
    color: black;
    background-clip: text;
    color: transparent;

    margin-bottom: 10px;
    margin-top: 10px;
}

/* Texto do header - descrição ou explicação */
#description_header {
    /* Configurei a fonte */
    font-weight: 400;
    font-size: 20px;

    /* Configurei o espaçamento */
    color: white;

    margin-top: auto;
}

/* Botão do header - QUERO ME INSCREVER */
#button_header {
    /* Configurei o tamanho do botão */
    width: 326px;
    height: 57px;
    /* Configurei a cor do botão, tanto interna como a borda */
    background: transparent;
    border: 2px solid;
    border-image-source: linear-gradient(to bottom, #3BA1CD, #1572B7);
    border-image-slice: 10;
    color: #3BA1CD;
    /* Centralizando o botão e alterando o cursor */
    display: block;
    margin: auto;
    cursor: pointer;
}

/* A div da segunda seção da página */
#aprender {
    /* Configurando a tamanho da div */
    margin: auto;
    text-align: center;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;

    /* Configurando a borda de cima da div */
    border-top: 1px solid #33A8DB;

    /* Configurando o título - O QUE VOU APRENDER? */
    h1 {
        font-weight: 700;
        font-size: 32px;
        color: #33A8DB;
        display: block;
        margin: auto;
        width: 800px;
    }

    /* Configurando os parágrafos */
    p {
        font-weight: 400;
        font-size: 16px;
        width: 800px;
        display: block;
        margin: 20px auto 20px;
    }

    /* Configurando os módulos */
    #modulos {
        p {
            /* Defini o background, criando o sombreado acima */
            background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(37, 37, 37), rgb(37, 37, 37), rgb(37, 37, 37), rgb(37, 37, 37));

            /* Defini as dimensões dos módulos e sua borda */
            padding: 16px 127px 16px 127px;
            width: auto;
            height: auto;
            border-radius: 40px;
            border: 1px solid #33A8DB;
            margin-inline: 337px;
        }

        /* Defini a cor das primeiras palvras dos módulos */
        .modulos_palavra {
            color: #33A8DB;
        }

    }
}

/* A div da terceira seção da página */
#transforme {

    /* Adiciona a imagem de fundo */
    background-image: url(Imagens/Transforme.jfif);
    padding: 200px;

    /* Configura a imagem para preencher toda a div */
    background-size: cover;

    /* Configura que a imagem é fixa, ou seja, acompanha a rolagem do site */
    background-attachment: fixed;

    /* Adiciona uma borda à div */
    border: 1px solid #33A8DB;
    border-inline: 0px;

    /* Configura o texto */
    p {

        font-weight: 900;
        font-size: 40px;
        text-shadow: 3px 3px #33A8DB;

    }
}

#evolua {
    margin-top: 60px;

    h1 {
        color: #33A8DB;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin: 20px auto 20px;
        width: 749px;
    }

    img {
        display: block;
        margin: auto;
    }

    p {
        text-align: center;
        width: 789px;
        display: block;
        margin: 20px auto 20px;
    }
}

footer {
    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
    height: 170px;
    border-top: 1px solid #33A8DB;

    img {
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    p {
        text-align: center;
    }

    a {
        color: #33A8DB;
        text-decoration: none;
    }
}